tracker/.env
.env

tracker/HELP.md
tracker/target/
tracker/.mvn/wrapper/maven-wrapper.jar
!tracker/**/src/main/**/target/
!tracker/**/src/test/**/target/

### STS ###
tracker/.apt_generated
tracker/.classpath
tracker/.factorypath
tracker/.project
tracker/.settings
tracker/.springBeans
tracker/.sts4-cache

### IntelliJ IDEA ###
tracker/.idea
tracker/*.iws
tracker/*.iml
tracker/*.ipr

### NetBeans ###
tracker/nbproject/private/
tracker/nbbuild/
tracker/dist/
tracker/nbdist/
tracker/.nb-gradle/
tracker/build/
!tracker/**/src/main/**/build/
!tracker/**/src/test/**/build/

### VS Code ###
tracker/.vscode/


analytics/.env
.env

analytics/HELP.md
analytics/target/
analytics/.mvn/wrapper/maven-wrapper.jar
!analytics/**/src/main/**/target/
!analytics/**/src/test/**/target/

### STS ###
analytics/.apt_generated
analytics/.classpath
analytics/.factorypath
analytics/.project
analytics/.settings
analytics/.springBeans
analytics/.sts4-cache

### IntelliJ IDEA ###
analytics/.idea
analytics/*.iws
analytics/*.iml
analytics/*.ipr

### NetBeans ###
analytics/nbproject/private/
analytics/nbbuild/
analytics/dist/
analytics/nbdist/
analytics/.nb-gradle/
analytics/build/
!analytics/**/src/main/**/build/
!analytics/**/src/test/**/build/

### VS Code ###
analytics/.vscode/

notification/HELP.md
notification/target/
notification/.mvn/wrapper/maven-wrapper.jar
!notification/**/src/main/**/target/
!notification/**/src/test/**/target/

### STS ###
notification/.apt_generated
notification/.classpath
notification/.factorypath
notification/.project
notification/.settings
notification/.springBeans
notification/.sts4-cache

### IntelliJ IDEA ###
notification/.idea
notification/*.iws
notification/*.iml
notification/*.ipr

### NetBeans ###
notification/nbproject/private/
notification/nbbuild/
notification/dist/
notification/nbdist/
notification/.nb-gradle/
notification/build/
!notification/**/src/main/**/build/
!notification/**/src/test/**/build/

### VS Code ###
notification/.vscode/
